snippet globals "Inserts common globals" b
        global \$db,\$tbl_prefix,\$askey,\$memcached,\$def_db;
endsnippet

snippet sqle    "Inserts SQL Execute for ADODB" b
  \$r=\$db->Execute(\$sql${1: ,array(${2:some_var})}) or die (Utils::show_error_arr(array(__CLASS__,__FUNCTION__,__LINE__),\$db->errorMsg(),\$sql));$0
endsnippet
